:root {
    --darkblue: #0a4072;
    --white: #FFFFFF;
    --lightblue: #a4cef5;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
  }
  
  /* Main column */
  .main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
  }

.header {
    background: var(--bg);
    color: var(--fontColor);

}

.header img {
    width: 1024px;
    height: 256px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header .headertext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}


.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #a4cef5;
    width: 16%;

}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #FFFFFF;
}

.tab button.active {
    background-color: #0a4072;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--footerBg);
    color: white;
    text-align: center;
}


.light-theme {
    --bg: var(--lightblue);
    --fontColor: var(--darkblue);
    --btnBg: var(--white);
    --btnFontColor: var(--darkblue);
    --navbaraFontColor: var(--darkblue);
    --footerBg: var(--darkblue);
}

.dark-theme {
    --bg: var(--darkblue);
    --fontColor: var(--lightblue);
    --btnBg: var(--lightblue);
    --btnFontColor: var(--darkblue);
    --navbaraFontColor: var(--lightblue);
    --footerBg: var(--lightblue);
}